<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>patient</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/loginst.css">
</head>

<body>

  <div class="container">
  <h1 class="logone">Doctor Login form</h1>
  <form class="form-horizontal logcss">
    <div class="form-group">
      <label class="control-label" for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" >
    </div>
    <div class="form-group">
      <label class="control-label" for="pwd">Password:</label>
               
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" >
      
    </div>
    <a href="/detailsdctr" class="btn btn-outline btn-lg btn-warning">LOGIN</a>

  </form>
</div>


</body>

</html>