<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/mainpg.css">
</head>
<body class="container-fluis">
  <div >
    <div class="row">
      <div class="col-md-8" style="float:left">
        
      </div>
    </div>
    <div class="col-md-4" style="float: right;">
      <h1 class="display-1 mainclr">We Safeguard Your Health & Beauty</h1>
      <div class="col-md-12 mainone">
        <h2>Log in as Patient</h2>
        <a href="/login"> <img src="images/patientlogin.jpg"  style="height: 80%; width: 100%;"></a>

      </div>
      <div class="col-md-12 maintwo">
        <h2>Log in as Doctor</h2>

       <a href="/logdctr"> <img src="images/dctrlog.jpg" style="height: 80%; width: 100%;">
      </div>
    </div>
  </div>

<!--<div class="main">
  <div class="form-group mainone">
    <h1 class="display-1">We Safeguard Your Health & Beauty</h1>
    <div class="border border-4">
<h2>LOG IN PATIENT</h2>
    <a href="/register" class="btn btn-outline btn-lg btn-warning">Register</a><br>

    <a href="/login" class="btn btn-outline btn-lg btn-warning">LogIn</a>
  </div>
  <h2>LOG IN DOCTOR</h2>
    
    <a href="/logdctr" class="btn btn-outline btn-lg btn-warning">LogIn</a>



  </div>


</div>-->




</body>

</html>