<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/doctors.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Health Care</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <a href="/homeone" class="nav-item nav-link">Home</a>
      <a href="/doctorsone" class="nav-item nav-link">Our Doctors</a>
      <a href="/servicesone" class="nav-item nav-link">Our Services</a>
      <a href="/apointment" class="nav-item nav-link btn btn-outline btn-warning" style="float: right; margin-right: 5%; ;">Appointment</a>

    </div>
    
  </nav>
  <div class="container-fluid all">
    <div class="row">
      <div class="col-md-12">
        <h1 class="dctr1">Meet The Medical Way Specialists Doctors</h1>
        <p class="dctr2">Suspendisse interdum libero ligula, et sollicitudin est facilisis sit amet. Phasellus viverra maximus urna eget faucibus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="images/img1.png" style="width:100%">
        <h3>Dr. Kathy Lewis</h3>
        <h4>Senior Gynecologist</h4>
        <p>Curabitur nibh ipsum, commodo sed dui id, varius sagittis tortor.</p>
       

      </div>
      <div class="col-md-4">
        <img src="images/img2.png" style="width:100%">
        <h3>Prof. Andrew Bailey</h3>
        <h4>Senior Professor</h4>
        <p>In eu sapien ut ex varius consequat. Quisque tempor malesuada iaculis.</p>
      </div>
      <div class="col-md-4">
        <img src="images/img3.png" style="width:100%">
        <h3>Dr. Christopher Griffin</h3>
        <h4>General Physician</h4>
        <p>Mauris aliquam neque magna, et hendrerit eros placerat et.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><img src="images/img4.png" style="width:100%">
      <h3>Sharon Foster</h3>
        <h4>Neuro Surgeon</h4>
        <p>Curabitur nibh ipsum, commodo sed dui id, varius sagittis tortor.</p></div>
      <div class="col-md-4"><img src="images/img5.png" style="width:100%">
      <h3>William Thompson</h3>
        <h4>Endocrinologist</h4>
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p></div>
      <div class="col-md-4"><img src="images/img6.png" style="width:100%">
      <h3>Christina Perry</h3>
        <h4>Hematologist</h4>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p></div>
    </div>
    
  </div>

</body>

</html>