<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>patient</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/angularone.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/loginst.css">
</head>

<body>

  <div class="container" ng-app="myApp" ng-controller="myctrl">
  <h1 class="logone">Patient Login form</h1>
  <form class="form-horizontal logcss">
    <div class="form-group">
      <label class="control-label" for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="log.email" >
    </div>
    <div class="form-group">
      <label class="control-label" for="pwd">Password:</label>
               
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="log.pwd">
      
    </div>
    <button type="submit" class="btn btn-outline btn-lg btn-warning" ng-click="logdata(log)"><a href="/maincontent">LogIn</a></button>
    <!--<a href="/maincontent" class="btn btn-outline btn-lg btn-warning">LOGIN</a>-->
    <a href="/register" class="btn btn-outline btn-lg btn-warning">Register</a>

  </form>
</div>


</body>

</html>