<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/services.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Health Care</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <a href="/homeone" class="nav-item nav-link">Home</a>
      <a href="/doctorsone" class="nav-item nav-link">Our Doctors</a>
      <a href="/servicesone" class="nav-item nav-link">Our Services</a>
      <a href="/apointment" class="nav-item nav-link btn btn-outline btn-warning" style="float: right; margin-right: 5%; ;">Appointment</a>

    </div>
    
  </nav>
  <div class="container-fluid serv1">
    <div class="row">
      <div class="col-md-12">
        <h1>Our Services – Vivamus Sit Amet Nunc Non</h1>
        <p>Vivamus sit amet nunc non erat ullamcorper dignissim in ut velit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="images/srvimg1.jpg" style="width:100%">
        <h3>Emergency Services</h3>
        <p>Etiam consectetur odio non lacus eleifend egestas. Orci varius natoque penatibus et magnis dis parturient...</p>
      </div>
      <div class="col-md-4">
        <img src="images/srvimg2.jpg" style="width:100%">
        <h3>Rapid Rescue</h3>
        <p>In non velit leo. In hac habitasse platea dictumst. Vivamus enim est, feugiat aliquet nisi...</p>

      </div>
      <div class="col-md-4">
        <img src="images/srvimg3.jpg" style="width:100%">
        <h3>In-patient Services</h3>
        <p>Sed ante enim, sollicitudin nec cursus non, posuere eu mauris. Nunc ut justo eleifend, placerat...

</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="images/srvimg4.jpg" style="width:100%">
        <h3>Specialized Interventions
</h3>
        <p>Quisque orci quam, accumsan vitae dolor sed, ornare feugiat dolor. Mauris dolor sem, accumsan quis...

</p>
      </div>
      <div class="col-md-4">
        <img src="images/srvimg3.jpg" style="width:100%">
        <h3>The Wellness Center</h3>
        <p>Aenean erat neque, vehicula at enim a, feugiat laoreet sem. Donec ut metus ullamcorper, pulvinar...</p>
      </div>
      <div class="col-md-4">
        <img src="images/srvimg6.jpg" style="width:100%">
        <h3>Dental Services</h3>
        <p>Donec sodales sit amet felis eu fermentum. Duis augue dui, pulvinar at pretium quis, efficitur...</p>
      </div>
    </div>
    
  </div>

</body>

</html>