nav a{
	padding: 3%;
	color: black;
}
.dctr1{
	color: black;
	text-align: center;
}
.dctr2{
	text-align: center;
}
.all h3{
	color: lightblue;
	text-align: center;
	

}
.all h4{
	color: red;
	text-align: center;
	
}
.all p{
	text-align: center;
	
}

